<div class="player-container">
  {{#if queue}}
    <h3>Queue</h3>
    <button {{action 'playFirstInQueue'}}>Play Queue</button>
    {{log queue}}
    {{#each queue as |track index|}}
      <p>
        Name: {{track.name}}
        Ytid: {{track.ytid}}
        <button {{action "playTrack" track.ytid index}}>Play</button>
        <button {{action "removeFromQueue" index}}>Remove</button>
      </p>
      {{#if track.isPlaying}}
        Playing!
      {{/if}}
    {{/each}}

    <h3>Player controls</h3>

    {{ember-youtube
      ytid=ytid
      delegate=this
      delegate-as="emberYoutube"
      playerVars=playerVars
      lazy-load=true
      ended="next"
      volume=volume
    }}

    <button {{action "togglePlay" target=emberYoutube}}>
      {{#if emberYoutube.isPlaying}}Pause{{else}}Play{{/if}}
    </button>
    <button {{action "previous"}}>Previous</button>
    <button {{action "next"}}>Next</button>
    <button {{action "volumeDown"}}>-</button>Volume<button {{action "volumeUp"}}>+</button>
    {{#if emberYoutube.isMuted}}
      <button {{action "unMute" target=emberYoutube}}>Unmute</button>
    {{else}}
      <button {{action "mute" target=emberYoutube}}>Mute</button>
    {{/if}}
  {{else}}
    No tracks in Queue
  {{/if}}
</div>
