<h1>Initial Application Page</h1>
<h3>Search for something:</h3>
{{input value=query}}
<br />
<button {{action 'search'}}>Search !</button>
<button {{action 'clear'}}>Clear results</button>
<br />
{{#if errors}}
  Something went wrong: {{errors}}
{{/if}}
<br />
{{#if albums}}
  <h1>Albums</h1>
{{/if}}
{{#each albums as |album|}}
  <p>{{album.name}}</p>
  <img style="height: 50px; width 50px;" src="{{album.images.firstObject.url}}" />
  <p>-----</p>
{{/each}}

{{outlet}}
